<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">KuK KLT</title>
</head>
<body>
<h1 th:text="${welcome}"></h1>

<h2 th:text="${applicationTitle}"></h2>

<label for="baseAmount"></label>
<input id="baseAmount" name="baseAmount" type="text"/>
<p><select id="baseCurrency">
    <option value="EUR">EUR</option>
    <option value="USD">USD</option>
    <option value="RUB">RUB</option>
    <option value="CAD">CAD</option>
    <option value="SEK">SEK</option>
    <option value="SDG">SDG</option>
    <option value="SCR">SCR</option>
    <option value="SBD">SBD</option>
    <option value="SAR">SAR</option>
    <option value="RWF">RWF</option>
    <option value="RSD">RSD</option>
    <option value="RON">RON</option>
    <option value="QAR">QAR</option>
    <option value="PKR">PKR</option>
    <option value="PHP">PHP</option>
    <option value="PGK">PGK</option>
    <option value="PEN">PEN</option>
    <option value="PAB">PAB</option>
    <option value="OMR">OMR</option>
    <option value="NZD">NZD</option>
    <option value="NPR">NPR</option>
</select></p>

<p><select id="targetCurrency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
    <option value="CAD">CAD</option>
    <option value="SEK">SEK</option>
    <option value="SDG">SDG</option>
    <option value="SCR">SCR</option>
    <option value="SBD">SBD</option>
    <option value="SAR">SAR</option>
    <option value="RWF">RWF</option>
    <option value="RSD">RSD</option>
    <option value="RON">RON</option>
    <option value="QAR">QAR</option>
    <option value="PKR">PKR</option>
    <option value="PHP">PHP</option>
    <option value="PGK">PGK</option>
    <option value="PEN">PEN</option>
    <option value="PAB">PAB</option>
    <option value="OMR">OMR</option>
    <option value="NZD">NZD</option>
    <option value="NPR">NPR</option>
</select></p>

<p>
    <button onClick="convert.call(this)">Convert</button>
</p>

<script>
  function convert() {
var oReq = new XMLHttpRequest();
let xhr = new XMLHttpRequest();

var baseCurrency = document.getElementById("baseCurrency");
var targetCurrency = document.getElementById("targetCurrency");

xhr.open(
'GET',
'http://localhost:8080/klt/api/latest/'+baseAmount.value+'/'+baseCurrency.value+'/'+targetCurrency.value+'/'
);

xhr.send();

xhr.onload = function() {
        var obj = JSON.parse(xhr.response);
        amount.value = obj;
};

xhr.onprogress;

xhr.onerror = function() {
  alert("Problem with rest");
};

}

</script>

<label for="amount"></label>
<input id="amount" name="amount" type="text"><br><br>

</body>
</html>